//Primary Colors
$color-primary: #ffffff;

//Secondary Colors
$light-grey: #eaecf0;
$dark-grey: #d0d5dd;
$darker-grey: #98a2b3;
$light-black: #101828;
$lighter-grey: #667085;
$greyish-black: #344054;

//Font-family
$font-secondary: 'Inter', sans-serif;

//Font-weight
$font-weight-large: 700;
$font-weight-small: 500;

//Breakpoints
$breakpoint-small: 500px;
$breakpoint-mid: 43.75em; //700px
$breakpoint-large: 62.5em; //1000px
